.boardControls {
  display: grid;
  align-items: center;
  justify-items: end;
  gap: 0.5rem;
  position: relative;
}

.boardControls :where(button) {
  outline-offset: -2px;
}

.boardControls :where(button, label) {
  outline-color: #0077ff;
}

.boardControls button {
  isolation: isolate;
}

.boardControls p {
  margin: 0;
  text-wrap: pretty;
}

.soundToggle {
  cursor: pointer;
}

.soundToggle:has(:focus-visible) {
  outline-offset: -4px;
  outline-style: solid;
  outline-width: 2px;
}

.soundToggle svg use:first-child {
  display: none;
}

.soundToggle :checked + svg use:first-child {
  display: inline;
}

.soundToggle :checked + svg use:last-child {
  display: none;
}

.settingsCta {
  position: absolute;
  font-family: "Mynerve", cursive;
  font-size: 1rem;
  line-height: 1.1;
  text-align: center;
  bottom: 0;
  transform: translateY(100%);
  max-width: 10ch;
}

.settingsCta img {
  width: 0.75rem;
  display: block;
  margin-left: auto;
  margin-right: 1rem;
  margin-top: 1rem;
}

.settingsCta p {
  margin-top: 0.25rem;
  transform: rotate(-8deg);
}

@container (max-width: 680px) {
  .settingsCta {
    display: none;
  }
}
