.boardAnchor {
  anchor-name: --board;
}

.boardControls {
  display: grid;
  align-items: center;
  gap: 1rem;
}

@container (max-width: 600px) {
  .boardControls {
    grid-auto-flow: column;
    justify-content: start;
  }
}
