.notation {
  font-family: "Mynerve", cursive;
  font-size: 1rem;
  line-height: 1.1;
  display: grid;
  justify-content: start;
  gap: 0.5ch;
  transform: rotate(-3deg);
  overflow: visible;
  max-height: 10ch;

  transition:
    opacity 400ms,
    transform 500ms;
  @starting-style {
    opacity: 0;
    transform: translateY(20%);
  }
}

:where(.decoration, .notationInner) > * {
  margin: 0;
}

.decoration {
  align-self: start;
}

.notationInner {
  display: grid;
  gap: 1.5ch 0.5ch;
  text-wrap: pretty;
  max-width: 20ch;

  > * {
    font-size: 1em;
  }
}

.notation h2 span {
  background-image: url("/images/squiggle-solid.png");
  background-repeat: repeat-x;
  background-position: bottom;
  background-size: 3.5rem 2px;
}

@container (max-width: 600px) {
  .notation {
    grid-template-columns: auto 1fr;
    align-items: end;
    font-size: 0.6875rem;
  }

  .notation img {
    transform: rotate(0deg);
  }

  .notationInner {
    gap: 0.5ch;
  }
}
