.notation {
  font-family: "Mynerve", cursive;
  font-size: 1rem;
  line-height: 1.1;
  display: grid;
  overflow: visible;
  justify-content: start;
  max-width: 20ch;
  max-height: 10ch;
  transition:
    opacity 400ms,
    transform 500ms;
  transform: rotate(-3deg);
  text-wrap: pretty;

  gap: 1.5ch 0.5ch;

  & > * {
    font-size: 1em;
    margin: 0;
  }

  @starting-style {
    opacity: 0;
    transform: translateY(20%);
  }
}

.notation h2 {
  line-height: 1.35;
}

.notation h2 span {
  background-image: url("/images/squiggle-solid.png");
  background-repeat: repeat-x;
  background-position: bottom;
  background-size: 3.5rem 2px;
}

@container (max-width: 600px) {
  .notation {
    align-items: end;
    font-size: 0.6875rem;
    gap: 0.5ch;
  }

  .notation img {
    transform: rotate(0deg);
  }
}
