.banner {
  --padding-inline: 4rem;
  --padding-block: 1.5rem;
  --font-size: 2rem;
  --shadow-size: 0.3125rem;
  --shadow-color: rgb(0 0 0 / 35%);
  display: grid;
  font-size: var(--font-size);
  position: relative;
  place-content: center;
  justify-items: center;
  isolation: isolate;

  & > * {
    grid-area: 1 / 1;
  }
}

.text {
  padding: var(--padding-block) var(--padding-inline);
  position: relative;

  /*transition: opacity 0.8s, transform 0.6s;*/
  /*transition-delay: .4s;*/
  /*.banner:not(:hover) & {*/
  /*  transform: translateY(0.5ch);*/
  /*  opacity: 0;*/
  /*  transition-delay: 0s;*/
  /*  transition-duration: 0.2s;*/
  /*}*/
}

.ribbon {
  display: grid;
  align-items: center;
  width: calc(100% + var(--padding-inline));
  height: 100%;
  grid-template-columns: auto 1fr auto;
  filter: drop-shadow(
    calc(var(--shadow-size) * -1) var(--shadow-size) var(--shadow-color)
  );

  & svg {
    display: block;
    width: auto;
    height: 100%;
  }

  /*transition: width 0.5s ease-out;*/
  /*.banner:not(:hover) & {*/
  /*  width: var(--padding);*/
  /*}*/
}

.middle {
  height: 100%;
  color: transparent;
  border: 0.125rem solid black;
  border-radius: 0.25rem;
  background: white;
}

.start {
  transform: translateX(2px);
  height: 80%;
}

.end {
  transform: translateX(-2px);
  height: 80%;
}
