.overlay {
  position: absolute;
  inset: 0;
  z-index: 10;
  transition: opacity 350ms ease-out;

  @starting-style {
    opacity: 0;
  }
}

.backdrop {
  inset: 0;
  background: rgb(0 0 0 / 0.8);
}

.content {
  color: black;
  padding: 0;
  background-image: url("/images/paper.webp");
  background-size: cover;
  background-position: center;
  overflow: visible;
  box-shadow: -0.75rem 0.75rem;
  border: 0.25rem solid;

  position: fixed;
  margin: 0;
  position-anchor: --board;
  top: anchor(center);
  left: anchor(left);
  width: anchor-size(width);
  translate: 0 -50%;

  transition:
    opacity 500ms,
    transform 800ms;

  @starting-style {
    opacity: 0;
    transform: scale(0.97);
  }
}

:global([data-reduced-motion]) :is(.content, .overlay) {
  transition: none;
  animation: none;
}

.canvas {
  width: 100%;
  aspect-ratio: 16 / 9;
}
