/* Players. */

.player {
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  gap: 0.75em;
  background-color: white;
  --logo-size: 5ch;
  transition: scale 300ms;
  transform: translateY(0.5ch);
  margin-inline: 2ch;

  &.active {
    scale: 1.1;
    background-color: #bdeeff;
  }
}

.playerLogo {
  margin-inline: calc(var(--logo-size) * -0.5) 0;
}

.playerLogo img {
  width: var(--logo-size);
  height: var(--logo-size);
  scale: 1.25;
}

.playerNameWrapper {
  position: relative;
}

.playerName {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  max-width: 17ch;
  display: block;
}

.playerBlack {
  justify-self: start;
  padding-right: 1ch;
  transform-origin: left;
}

.playerWhite {
  justify-self: end;
  padding-left: 1ch;
  transform-origin: right;

  & .playerLogo {
    order: 1;
    margin-inline: 0 calc(var(--logo-size) * -0.5);
  }
}

/* Pass animation. */

.playerNameWrapper :global(.squiggle-border) {
  position: absolute;
  background-color: #bdeeff;
  pointer-events: none;
  white-space: nowrap;
  font-size: 11px;
  animation: passFloat 1.6s forwards;
  padding: 0.25em 2em;
  transform-origin: bottom;
}

@keyframes passFloat {
  0% {
    opacity: 0;
    scale: 0.9;
    translate: 0 0;
  }

  30% {
    opacity: 1;
    scale: 1;
  }

  70% {
    opacity: 1;
    scale: 1;
  }

  100% {
    opacity: 0;
    translate: 0 -4em;
    scale: 0.9;
  }
}

/** Table. */

.tableWrapper {
  display: grid;
  justify-content: center;
  grid-column: span 2;
  background-color: white;
  padding-block: 1ch;
  margin-inline: 4ch;
  text-align: center;
}

.tableWrapper table {
  border-collapse: collapse;
}

.tableWrapper td {
  padding: 0;

  &:nth-child(2) {
    padding-inline: 2ch;
  }
}

/* Pots. */

.potArea {
  display: grid;
  width: 10ch;
  height: 10ch;
  contain: layout style;
  isolation: isolate;
  place-items: center;
  transform: translateY(-50%);
}

.potWhite {
  justify-self: end;
}

.potImage {
  width: 100%;
  height: 100%;
  user-select: none;
}

.prisoner {
  grid-area: 1 / 1;
  width: 3ch;
  height: 3ch;
  transition: scale 0.4s cubic-bezier(0.34, 1.56, 0.64, 1);

  @starting-style {
    scale: 0;
  }
}

/* Responsive layout. */

.panel {
  display: grid;
  grid-template-columns: 1fr 1fr;
  font-size: 14px;
  max-width: 60ch;
  margin-inline: auto;
  align-items: center;
}

@container (min-width: 840px) {
  .player {
    transform-origin: center;
    margin: 0;
  }

  .potArea {
    transform: none;
    width: 14ch;
    height: 14ch;
    margin-top: -6ch;
    grid-row: 1;
    justify-self: center;
  }

  /* Ordering. */
  .panel {
    grid-template-columns: auto 19ch 250px 19ch auto;
    justify-items: center;
    max-width: 1100px;
    margin-bottom: 1rem;
  }

  :where(.panel > *) {
    grid-row: 2;
  }

  .potBlack {
    grid-column: 1;
  }

  .playerBlack {
    grid-column: 1 / span 2;
    justify-self: end;
    transform: translateX(2ch);
    /*margin-left: 5ch;*/
  }

  .tableWrapper {
    width: 100%;
    margin: 0;
    grid-column: 3;
  }

  .playerWhite {
    grid-column: 4 / span 2;
    transform: translateX(-2ch);
    /*margin-right: 5ch;*/
    justify-self: start;
  }

  .potWhite {
    grid-column: 5;
  }
}

@container (max-width: 680px) {
  .panel {
    font-size: 11px;
  }
}
