.player {
  display: flex;
  align-items: center;
  gap: 0.25em;
  padding: 0.25em 0.75em 0.25em 2.5em;
  background-color: #f1f1f1;
  position: relative;
  justify-self: start;
  will-change: transform;

  &.active {
    background-color: #bdeeff;
  }

  &.isRightAligned {
    padding-left: 0.25em;
    padding-right: 2.5em;
    justify-self: end;
  }
}

.brandLogo {
  display: block;
  width: 2.5em;
  height: 2.5em;
  flex-shrink: 0;
}

.stoneImage {
  position: absolute;
  width: 4em;
  height: 4em;
  left: 0;
  transform: translateX(-50%);

  .isRightAligned & {
    left: unset;
    right: 0;
    transform: translateX(50%);
    order: 1;
  }
}

.pass {
  position: absolute;
  background-color: #bdeeff;
  pointer-events: none;
  white-space: nowrap;
  font-size: 11px;
  animation: passFloat 1.6s forwards;
  padding: 0.5em 2em;
  transform-origin: bottom;
  line-height: 2;
  right: 0;

  .isRightAligned & {
    right: unset;
    left: 0;
  }
}

@keyframes passFloat {
  0% {
    opacity: 0;
    scale: 0.9;
    translate: 0 0;
  }

  30% {
    opacity: 1;
    scale: 1;
  }

  70% {
    opacity: 1;
    scale: 1;
  }

  100% {
    opacity: 0;
    translate: 0 -4em;
    scale: 0.9;
  }
}
