.panel {
  --logo-size: 48px;
  --logo-overflow: 28px;
  --player-padding-x: 10px;
  --player-padding-y: 6px;
  --player-padding-logo: 16px;
  --player-gap: 6px;
  --player-offset-x: 3.5ch;
  --table-cell-padding-x: 12px;
  --table-cell-min-width: 14ch;

  display: grid;
  grid-template-columns: 1fr auto 1fr;
  align-items: start;
  padding: 12px 0;
  color: black;
  font-family: "Google Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.table {
  border-collapse: collapse;
  font-size: 12px;
  line-height: 1.8;
  border: 1px solid;
  background: #fff;
}

.table tr:first-child td {
  padding-top: 10px;
}

.table tr:last-child td {
  padding-bottom: 10px;
}

.cellBlack {
  text-align: right;
  padding: 0 var(--table-cell-padding-x);
  font-variant-numeric: tabular-nums;
  min-width: var(--table-cell-min-width);
}

.cellLabel {
  text-align: center;
  padding: 0 8px;
}

.cellWhite {
  text-align: left;
  padding: 0 var(--table-cell-padding-x);
  font-variant-numeric: tabular-nums;
  min-width: var(--table-cell-min-width);
}

.player {
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  gap: var(--player-gap);
  padding: var(--player-padding-y) var(--player-padding-x);
  background: #fff;
  border: 1px solid;
  translate: 0 -50%;
}

.playerBlack {
  composes: player;
  justify-self: end;
  padding-left: var(--player-padding-logo);
  transform: translateX(var(--player-offset-x));
  transition:
    transform 0.3s ease,
    background 0.3s ease;

  .logo {
    margin-left: calc(-1 * (var(--player-padding-logo) + var(--logo-overflow)));
  }
}

.playerBlack.active {
  background: #a8d8f0;
  transform: translateX(var(--player-offset-x)) rotate(-2deg) scale(1.05);
}

.playerWhite {
  composes: player;
  justify-self: start;
  padding-right: var(--player-padding-logo);
  transform: translateX(calc(var(--player-offset-x) * -1));
  transition:
    transform 0.3s ease,
    background 0.3s ease;

  .stone {
    order: 1;
  }

  .logo {
    margin-right: calc(
      -1 * (var(--player-padding-logo) + var(--logo-overflow))
    );
  }
}

.playerWhite.active {
  background: #a8d8f0;
  transform: translateX(calc(var(--player-offset-x) * -1)) rotate(2deg)
    scale(1.05);
}

.playerName {
  font-weight: 400;
  font-size: 12px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.stone {
  display: inline-block;
  width: 28px;
  height: 28px;
  border-radius: 50%;
  flex-shrink: 0;
}

.stoneBlack {
  composes: stone;
  background-color: black;
}

.stoneWhite {
  composes: stone;
  background-color: white;
  border: 1px solid;
}

.logo {
  width: var(--logo-size);
  height: var(--logo-size);
  flex-shrink: 0;
  object-fit: contain;
  margin-block: calc(-1 * (var(--player-padding-y) + var(--logo-overflow)));
}

@media (max-width: 600px) {
  .player {
    padding-block: 6px;
  }

  .table tr:first-child td {
    padding-top: 6px;
  }

  .table tr:last-child td {
    padding-bottom: 6px;
  }
}
