.versusBanner {
  position: fixed;
  margin: auto;
  place-content: center;
  position-anchor: --board;
  top: anchor(center);
  left: anchor(left);
  width: anchor-size(width);
  translate: 0 -50%;
  animation: slide-in-out 3.2s both;
  will-change: transform, opacity;

  /* <Ribbon> element. */
  & > * {
    --font-size: 1rem;
    --padding-inline: 2em;
    --padding-block: 1.25rem;
  }

  & span {
    white-space: nowrap;
  }
}

@keyframes slide-in-out {
  0% {
    translate: 0 -100vh;
    rotate: 12deg;
    opacity: 1;
    animation-timing-function: cubic-bezier(0.22, 1.15, 0.36, 1);
  }
  30% {
    translate: 0 -50%;
    rotate: 0deg;
    opacity: 1;
    animation-timing-function: linear;
  }
  75% {
    translate: 0 -50%;
    scale: 1;
    opacity: 1;
    animation-timing-function: cubic-bezier(0.55, 0, 1, 0.45);
  }
  100% {
    translate: 0 -50%;
    scale: 0.94;
    opacity: 0;
  }
}

@container (max-width: 600px) {
  .versusBanner > * {
    --font-size: 0.75rem;
  }
}
