.versusBanner {
  position: fixed;
  margin: auto;
  place-content: center;
  position-anchor: --board;
  top: anchor(center);
  left: anchor(left);
  width: anchor-size(width);

  /* <Ribbon> element. */
  & > * {
    --ribbon-font-size: 1rem;
    --ribbon-padding-inline: 2em;
    --ribbon-padding-block: 1.25em;
  }

  & span {
    white-space: nowrap;
  }
}

@container (max-width: 680px) {
  .versusBanner > * {
    --ribbon-font-size: 0.75rem;
    --ribbon-padding-inline: 1.5em;
    --ribbon-padding-block: 0.8125em;
  }
}
