steps:
  - id: "build-cpu-image"
    name: "gcr.io/cloud-builders/docker"
    env: ["DOCKER_BUILDKIT=1"]
    args:
      [
        "build",
        "--file",
        "docker/Dockerfile",
        "--target",
        "cpu",
        "--tag",
        "gcr.io/kaggle-images/python-simulations",
        "--cache-from",
        "gcr.io/kaggle-images/python-simulations:latest",
        "--build-arg",
        "BASE_IMAGE=gcr.io/kaggle-images/python:latest",
        ".",
      ]
    waitFor: ["-"]

  - id: "build-gpu-image"
    name: "gcr.io/cloud-builders/docker"
    env: ["DOCKER_BUILDKIT=1"]
    args:
      [
        "build",
        "--file",
        "docker/Dockerfile",
        "--target",
        "gpu",
        "--tag",
        "gcr.io/kaggle-gpu-images/python-simulations",
        "--cache-from",
        "gcr.io/kaggle-gpu-images/python-simulations:latest",
        "--build-arg",
        "BASE_IMAGE=gcr.io/kaggle-gpu-images/python:latest",
        ".",
      ]
    waitFor: ["-"]

  - id: "test-cpu-image"
    name: "gcr.io/kaggle-images/python-simulations"
    waitFor: ["build-cpu-image"]
    entrypoint: "pytest"
    args: ["kaggle_environments"]

  - id: "publish-to-pypi"
    name: "python:3.11-slim"
    entrypoint: "bash"
    args: ["docker/cicd-publish-to-pypi.sh"]
    waitFor: ["test-cpu-image"]
    secretEnv: ["PYPI_TOKEN"]

images:
  - "gcr.io/kaggle-images/python-simulations"
  - "gcr.io/kaggle-gpu-images/python-simulations"

availableSecrets:
  secretManager:
    - versionName: projects/kaggle-cicd/secrets/pypi-token/versions/latest
      env: "PYPI_TOKEN"

options:
  pool:
    name: "projects/kaggle-cicd/locations/us-east1/workerPools/kaggle-cloud-builders"

timeout: "3600s"
