#root {
  max-width: 80vh;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

#legend {
  margin-top: 1em;
  height: 3em;
}

meter {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 100%;
  height: 2.5em;
  margin: 0;
  padding: 0;
  background-color: #2a2d31;
}

meter::-webkit-meter-bar {
  height: 100%;
  background: none;
  background-color: #000;
}

meter::-webkit-meter-inner-element {
  height: 100%;
}

meter::-webkit-meter-optimum-value {
  background: #f0ede7;
}

meter::-moz-meter-bar {
  background: #f0ede7;
}
