#root {
  margin: 0 auto;
  width: 100%;
  height: 100%;
}

#container {
  width: 100%;
  height: 100%;
}

#board {
  margin: 0 auto;
  padding: 1em;
}

#renderer {
  max-width: 800px;
  height: auto;
  max-height: 80%;
  aspect-ratio: 1;
  margin: 0 auto;
}

#legend {
  text-align: center;
  margin-top: 1em;
  height: 3em;
}
