#root {
  margin: 0 auto;
  width: 100%;
  height: 100%;
}

#container {
  width: 100%;
  height: 100%;
}

#board {
  margin: 0 auto;
  padding: 1em;
}

.viewer canvas {
  position: relative !important;
  width: 100% !important;
  height: auto !important;
  max-width: 500px;
  aspect-ratio: 1 / 1;
}
