#root {
  margin: 0 auto;
  width: 100%;
  height: 100%;
}

#container {
  width: 100%;
  height: 100%;
}

#go-playable-area {
  position: relative;
  display: grid;
  overflow: auto;
  min-height: 100%;
  max-height: 100dvh;
  overscroll-behavior: none;
  background-image: url("/images/paper.webp");
  background-size: cover;
  background-position: center;
  font-family: "Inter", sans-serif;
  container-type: inline-size;
  padding-inline: 1.25rem;
  color: #050001;
}

.grid-pile {
  display: grid;
}

.grid-pile > * {
  grid-area: 1 / 1;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

.viewer canvas {
  position: relative !important;
  width: 100% !important;
  height: auto !important;
  max-width: 512px;
}
