#root {
  margin: 0 auto;
  width: 100%;
  height: 100%;
}

#legend {
  margin-top: 1em;
  height: 3em;
}

#container {
  width: 100%;
  height: 100%;
}

#board {
  margin: 2em 5em;
}

.viewer {
  text-align: center;
}

.viewer canvas {
  position: relative !important;
  width: 100% !important;
  height: auto !important;
  max-width: 500px;
  aspect-ratio: 1 / 1;
}
